.red{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}
.yellow{
    color: yellow;
    margin-top: 10px;
    margin-bottom: 0px;
}
.grey{
    color: grey;
    margin-top: 10px;
    margin-bottom: 0px;
}
.keyboard-container {
    display: flex;
    flex-wrap: wrap; /* Allow the boxes to wrap if they exceed the container's width */
    justify-content: center; /* Center the boxes horizontally */
    gap: 0.5vw; /* Add some spacing between the boxes */
}
.keyboard-break {
    flex-basis: 100%;
    height: 0;
  }
